// .section-rsmm-headings > .pl-section-pad{
// 	padding: 0;
// }

// .heading--primary, .heading--secondary, .heading--tertiary{

// .sms-light .section-sms-headings{
// 	background: #333;
// 	.sms-heading{
// 		color: #fff;
// 	}
// }

// .sms-dark .section-sms-headings{
// 	background: #fff;
// 	.sms-heading{
// 		color: #333;
// 	}
// }
